<div class="sgp-bulk-mail-calc__result" style="width:100%">
    <div class="sgp-bulk-mail-calc__result-check">&nbsp;</div>
    <div class="sgp-bulk-mail-calc__result-head">Result:</div>
    <div class="sgp-rate-table">
        <table>
            <tr>
                <th class="sgp-rate-table__main-head">Estimated Postage Cost (with GST)</th>
                <th class="sgp-rate-table__main-head">Unit Rate</th>
                <th class="sgp-rate-table__main-head">Kg Rate</th>
                <th class="sgp-rate-table__main-head">Total Postage</th>
            </tr>
            <tr>
                <td></td>
                <td>${{ data.unit_rate }}</td>
                <td>${{ data.kg_rate }}</td>
                <td>${{ data.total_postage }}</td>
            </tr>
        </table>
    </div>
</div>