{% spaceless %}
<div class="sgp-calc-postage__progress">
    <div id="progress-1" class="sgp-calc-postage__progress-outer active">
        <div class="sgp-calc-postage__progress-dot">
            <span class="sgp-calc-postage__progress-txt">1</span>
        </div>
        <p class="sgp-calc-postage__progress-label">I want to send...</p>
    </div>
    <div id="progress-2" class="sgp-calc-postage__progress-outer">
        <div class="sgp-calc-postage__progress-dot">
            <span class="sgp-calc-postage__progress-txt">2</span>
        </div>
        <p class="sgp-calc-postage__progress-label">Service</p>
    </div>
</div>
    {{ forms.combined }}
{% endspaceless %}
